<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>A Reusable Contact Form In Bootstrap - reusable form</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="form.css" >
        <script src="form.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
        </script>
    </head>
    <body >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Registration</h2> 
                     <form action="/register" method="POST" onsubmit="return validate()">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label > Email:</label>
                                <input type="email" name="email"class="form-control" id="email" maxlength="50">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label > Password:</label>
                                <input type="password" name="password"class="form-control" id="password" maxlength="50">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label  > Confirm Password:</label>
                                <input type="password" name="cpassword" id="cpassword" class="form-control" maxlength="50">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label  > First Name:</label>
                                <input type="text" name="firstName" class="form-control"   required maxlength="50">
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label  > Last Name:</label>
                                    <input type="text" name="lastName" class="form-control" maxlength="50">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label  ">Address Line 1: </label>
                                    <input type="text" name="address1" class="form-control"   required maxlength="50">
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label  >Address Line 2:</label>
                                        <input type="text" name="address2" class="form-control" maxlength="50">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label  > Zipcode:</label>
                                        <input type="text" name="zipcode"class="form-control"  required maxlength="50">
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label  > City:</label>
                                            <input type="text" name="city" class="form-control" maxlength="50">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label  > State:</label>
                                            <input type="text" name="state" class="form-control"   required maxlength="50">
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label  > Country:</label>
                                                <input type="text" name="country" class="form-control" maxlength="50">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label > Phone Number:</label>
                                                <input type="text" name="phone"  class="form-control" required maxlength="50">
                                            </div>
                                        </div>
                         
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button type="submit" value="Register" class="btn btn-lg btn-success btn-block" id="btnContactUs"><a href="/loginForm">Login here</a></button>
                            </div>
                        </div>
                    </form>
                     </div>
            </div>
        </div>
    </body>
</html>



